In [117]:
import pandas as pd

In [156]:
confirmed = pd.read_csv(
    "./COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
confirmed = pd.melt(
    confirmed, id_vars=["Country/Region", "Province/State", "Lat", "Long"]).drop(["Lat", "Long"], axis=1)

confirmed.columns =["Country/Region", "Province/State", "date", "confirmed"]

confirmed.date = confirmed.date.astype(str)

In [157]:
recovered = pd.read_csv(
    "./COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv")
recovered = pd.melt(
    recovered, id_vars=["Country/Region", "Province/State", "Lat", "Long"]).drop(["Lat", "Long"], axis=1)

recovered.columns =["Country/Region", "Province/State", "date", "recovered"]

recovered.date = [x[:-2] for x in recovered.date.astype(str)]
recovered.recovered = recovered.recovered.fillna(0)

In [158]:
deaths = pd.read_csv(
    "./COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
deaths = pd.melt(
    deaths, id_vars=["Country/Region", "Province/State", "Lat", "Long"]).drop(["Lat", "Long"], axis=1)

deaths.columns =["Country/Region", "Province/State", "date", "deaths"]

deaths.date = deaths.date.astype(str)

In [159]:
df = pd.merge(confirmed, recovered, how="left", on=["Country/Region", "Province/State", "date"])
df = pd.merge(df, deaths, how="left", on=["Country/Region", "Province/State", "date"])

In [161]:
df.confirmed = df.confirmed.fillna(0)
df.recovered = df.recovered.fillna(0)
df.deaths = df.deaths.fillna(0)

In [162]:
df

,Country/Region,Province/State,date,confirmed,recovered,deaths
0,Afghanistan,NaN,1/22/20,0,0.0,0
1,Albania,NaN,1/22/20,0,0.0,0
2,Algeria,NaN,1/22/20,0,0.0,0
3,Andorra,NaN,1/22/20,0,0.0,0
4,Angola,NaN,1/22/20,0,0.0,0
...,...,...,...,...,...,...
15738,Libya,NaN,3/25/20,1,0.0,0
15739,West Bank and Gaza,NaN,3/25/20,-1,0.0,-1
15740,Guinea-Bissau,NaN,3/25/20,2,0.0,0
15741,Mali,NaN,3/25/20,2,0.0,0
15742,Saint Kitts and Nevis,NaN,3/25/20,2,0.0,0

In [164]:
df.to_csv("./covid19.csv", index=False)